	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/07/2019 11:03
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-running:before { content: "\f100"; }
.flaticon-drum:before { content: "\f101"; }
.flaticon-right-arrow:before { content: "\f102"; }
.flaticon-next:before { content: "\f103"; }
.flaticon-bus:before { content: "\f104"; }
.flaticon-console:before { content: "\f105"; }
.flaticon-harvest:before { content: "\f106"; }
.flaticon-pin:before { content: "\f107"; }
.flaticon-left-quote:before { content: "\f108"; }
.flaticon-left-quote-1:before { content: "\f109"; }
.flaticon-add:before { content: "\f10a"; }
.flaticon-add-1:before { content: "\f10b"; }
.flaticon-bus-1:before { content: "\f10c"; }
.flaticon-professor:before { content: "\f10d"; }
.flaticon-two-users:before { content: "\f10e"; }
.flaticon-calendar:before { content: "\f10f"; }
.flaticon-boy:before { content: "\f110"; }
.flaticon-flask:before { content: "\f111"; }
.flaticon-abc-block:before { content: "\f112"; }
.flaticon-teddy-bear:before { content: "\f113"; }
.flaticon-championship:before { content: "\f114"; }
.flaticon-playground:before { content: "\f115"; }
.flaticon-play-button:before { content: "\f116"; }
.flaticon-earth-globe:before { content: "\f117"; }
.flaticon-place:before { content: "\f118"; }
.flaticon-placeholder:before { content: "\f119"; }
.flaticon-address:before { content: "\f11a"; }
.flaticon-vintage-hand-phone:before { content: "\f11b"; }
.flaticon-mail:before { content: "\f11c"; }
.flaticon-right-arrow-angle:before { content: "\f11d"; }
.flaticon-back:before { content: "\f11e"; }
.flaticon-back-1:before { content: "\f11f"; }
.flaticon-tick:before { content: "\f120"; }
.flaticon-check-symbol:before { content: "\f121"; }
.flaticon-clear-button:before { content: "\f122"; }
.flaticon-cancel:before { content: "\f123"; }