	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/01/2020 05:33
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../webfonts/Flaticon.eot");
  src: url("../webfonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../webfonts/Flaticon.woff2") format("woff2"),
       url("../webfonts/Flaticon.woff") format("woff"),
       url("../webfonts/Flaticon.ttf") format("truetype"),
       url("../webfonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../webfonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-lock:before { content: "\f100"; }
.flaticon-padlock:before { content: "\f101"; }
.flaticon-lock-1:before { content: "\f102"; }
.flaticon-telephone:before { content: "\f103"; }
.flaticon-click:before { content: "\f104"; }
.flaticon-employee:before { content: "\f105"; }
.flaticon-team:before { content: "\f106"; }
.flaticon-diagram:before { content: "\f107"; }
.flaticon-bar-chart:before { content: "\f108"; }
.flaticon-bars:before { content: "\f109"; }
.flaticon-employee-1:before { content: "\f10a"; }
.flaticon-save-money:before { content: "\f10b"; }
.flaticon-startup:before { content: "\f10c"; }
.flaticon-shuttle:before { content: "\f10d"; }
.flaticon-business-and-finance:before { content: "\f10e"; }
.flaticon-piggy-bank:before { content: "\f10f"; }
.flaticon-file:before { content: "\f110"; }
.flaticon-analytics:before { content: "\f111"; }
.flaticon-question:before { content: "\f112"; }
.flaticon-conversation:before { content: "\f113"; }
.flaticon-profit:before { content: "\f114"; }
.flaticon-profits:before { content: "\f115"; }
.flaticon-debit-card:before { content: "\f116"; }
.flaticon-scroll:before { content: "\f117"; }
.flaticon-target:before { content: "\f118"; }
.flaticon-target-1:before { content: "\f119"; }
.flaticon-profile:before { content: "\f11a"; }
.flaticon-authorization:before { content: "\f11b"; }
.flaticon-shield:before { content: "\f11c"; }
.flaticon-shield-1:before { content: "\f11d"; }
.flaticon-credibility:before { content: "\f11e"; }
.flaticon-fullscreen:before { content: "\f11f"; }
.flaticon-expand:before { content: "\f120"; }
.flaticon-fullscreen-1:before { content: "\f121"; }
.flaticon-email:before { content: "\f122"; }
.flaticon-alarm:before { content: "\f123"; }
.flaticon-alarm-1:before { content: "\f124"; }