	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/08/2019 17:26
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
 font-size: 40px;
font-style: normal;
margin-left: 20px;
}

.flaticon-chart:before { content: "\f100"; }
.flaticon-objective:before { content: "\f101"; }
.flaticon-startup:before { content: "\f102"; }
.flaticon-line-chart:before { content: "\f103"; }
.flaticon-reward:before { content: "\f104"; }
.flaticon-money:before { content: "\f105"; }
.flaticon-computer:before { content: "\f106"; }
.flaticon-search:before { content: "\f107"; }
.flaticon-target:before { content: "\f108"; }
.flaticon-research:before { content: "\f109"; }
.flaticon-bullhorn:before { content: "\f10a"; }
.flaticon-team:before { content: "\f10b"; }
.flaticon-support:before { content: "\f10c"; }
.flaticon-play-button:before { content: "\f10d"; }
.flaticon-right-quote:before { content: "\f10e"; }
.flaticon-left-quote:before { content: "\f10f"; }